body {
    margin:0px;
    padding:0px;
   font-family: "Droid Serif", Georgia;
  color: #000000;
  background:url(http://everzet.com/images/bg.jpg);
  line-height:1.5em;
}
#container {
    overflow:hidden;
    position:relative;
  background:#fff;
  opacity:0.9;
  padding:20px;
  margin: 0 auto;
  width: 700px;
  -webkit-box-shadow:0px 0px 10px #000;
  -moz-box-shadow:0px 0px 10px #000;
  box-shadow:0px 0px 10px #000;
}
h1 { font-family:'Lobster', arial, serif; font-size: 6em; margin-top: 0px; margin-bottom: 3px;
    font-weight:normal;
    text-shadow: 1px 1px 1px #fff;
    position:relative;
    width:250px;
    height:80px;
    margin-top:55px;
}
a.fork img {
    z-index:100;
}
h1, h2, h3, h4 {
    font-family:'Lobster';
    position:relative;
    z-index:2;
}
h1 a { text-decoration: none; color: #1c4b20 !important; }
h2 { clear:both; font-size: 3.0em; color: #000; }
h3 { text-align: center; color: #000; }
a { color: #494c5b; }
.description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic;}
pre, code { background: #000; color: #fff; padding: 15px;}
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.footer { text-align:center; padding-top:30px; font-style: italic; }
h2 {
    padding-top:10px;
    width:250px;
}
p.intro {
    width:100%;
    background:#eef0bb;
    margin-top:-45px;
    padding:10px;
    padding-top:20px;
    padding-left:25px;
    padding-right:15px;
    margin-left:-20px;
    font-size:1.2em;
    line-height:1.0em;
    font-style:italic;
    color:#61ac27;
}
p.intro .bdd {
    color:#000;
}
p.intro .php {
    color:#626aa1;
}
p.intro a {
    text-decoration:none;
}
p.intro a:hover {
    text-decoration:underline;
}

#menu {
    position:absolute;
    z-index:1;

    top:73px;

    width:740px;
    float:left;
    list-style:none;

    margin:0px;
    margin-left:-20px;
    padding:10px 0px;

    text-align:right;

    background:#becc7f;
}

ul, ol {
    padding-left:22px;
}

.copyright {
    float:right;
    margin-top:100px;
    font-size:0.8em;
    color:#000;
}

#preview img {
    background:#000;
}

.hlcode .syntax {
    width:100%;
    margin-left:-20px;
}

.hlcode .syntax pre {
    width:100%;
    padding-left:20px !important;
    padding-right:20px !important;
}

code {
    padding:2px 5px;
}

#menu li {
    display:inline;

    margin:0px;
    margin-right:20px;
    padding:0px;
}

#menu li a {
    color:#000;
    text-decoration:none;
}

#menu li a:hover {
    color:#000;
    text-decoration:underline;
}

#preview {
    float:left;
    margin:0px;
    margin-top:-22px;
    margin-bottom:30px;
}

#preview dt {
    float:left;
    width:100%;
    height:29px;
    line-height:29px;

    font-size:1.1em;
    color:#787878;

    padding:5px 20px;
    margin-left:-20px;

    cursor:pointer;

    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #cacacc),
        color-stop(0.72, #f5f5f5)
    );

    background: -moz-linear-gradient(
        center bottom,
        #cacacc 0%,
        #f5f5f5 72%
    );
}

#preview dt span {
    color:#000;
}

#preview dd {
    height:auto;
    float:left;
    margin:0px;
    margin-bottom:-4px;
    padding:0px;
    margin-left:-20px;
    background:#ddd;
}

#preview dd img {
    margin:0px;
    padding:0px;
}

#preview .step_4, #preview .step_6 {
    padding-left:42px;
}

#preview dd:after {
    content:'';
    display:block;
    clear:both;
}
